html,
body {
  height: 100vh;
}

#root {
  height: 100%;
}

.App {
  height: 100%;
  width: 100%;
  display: table;
}

.appBar {
  height: 32px;
  display: table-row;
}

.table {
  border-radius: 5px;
  height: 100%;
  width: 100%;
}

.card {
  border: 2px #dddddd solid;
  border-radius: 5px;
  width: 20%;
  height: 20%;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  font-size: 20px;
}
.card:hover {
  background: lightgrey;
  font-size: 40px;
}

.card.red {
  background: #ff0000;
}

.card.blue {
  background: #00eeee;
}

.card.yellow {
  background: #ffff00;
}

.card.black {
  background: #000000;
  color: white;
}

.card.green {
  background: #009000;
}
