html,
body {
  height: 100vh;
}

#root {
  height: 100%;
}

.App {
  text-align: center;
  height: 100%;
  width: 100%;
  display: table;
}

.appBar {
  height: 32px;
  display: table-row;
}

.table {
  background: whitesmoke;
  border: 1px solid black;
  height: 100%;
  width: 100%;
}

.card {
  border: 1px solid black;
}
