a:link {color: #263238;}      /* unvisited link */
a:visited {color: #263238}   /* visited link */
#board div.word:hover {
	font-size: 1.3em;
	background-color: #fff9c4; /* #fff176;*/
	border: 2px solid #01579b;
}     /* mouse over link */
a:active {color: #263238}    /* selected link */

html {
	font-family : Helvetica Neue, Helvetica, Arial, sans-serif;
}

body {
	margin : 0;
	padding : 8px;
	box-sizing : border-box;
	background-color: #fafafa;
}

button, input, span#first {
	font-size : 1.3em;
}
#board .word.selected:hover {
 font-size: 1em;
 border : 4px #9e9e9e solid;
}
#board .word.selected {
 border : 4px #9e9e9e solid;
}
#board .word.selected a {
	opacity: 0.4;
	position: absolute;
	bottom: 4px;
  left: 50%;
  transform: translate(-50%, 0);
	font-size: 0.8em;
	color:black;

}
}
#board .word.selected a:hover {
	opacity: 0.6;
	position: absolute;
	font-size: 0.8em;
	color: white;
}
.icon {
	position: absolute;
	opacity: 0.0;
}
.selected .icon {
	color: white;

	font-size: 7vh;
	display: block;
	position: relative;
	text-align : center;
	margin: 0 auto;

	opacity: 0.9;
}
#board .word.red-square.selected, #board.spy-master .word.red-square {
	background-color: #ff8a65;
}
#board .word.blue-square.selected, #board.spy-master .word.blue-square{
	background-color: #26a69a;
}
#board .word.civilian-square.selected, #board.spy-master .word.civilian-square {
	background-color: #cfd8dc;
}
#board .word.assassin-square.selected, #board.spy-master .word.assassin-square {
	background-color: #d50000;
}

#board {
	box-sizing : border-box;
	margin: 5 auto;
	width: 97%;
	position : absolute;
	bottom : 5px;
	left : 2%;
	right : 1%;
	height : calc(100% - 10% - 56px);
	top : 56px;

	font-size : 1.8vw;
	background-color: #fafafa;
}

#board div.word {
	box-sizing : border-box;
	position : relative;
	text-align : center;
	vertical-align : middle;
	cursor : pointer;
	border : 2px #ffd54f solid; /*#e65100*/
	background-color: #fff8e1;/*#ffe0b2;*/
	border-radius : 5px;
	font-weight : bold;
	width : 18.5%;
	height : 18.5%;
	float: left;
	line-height : 99%;
	box-shadow: 3px 3px #e5e5e5;
	margin: 7px;

}
#board div.word a {
	text-decoration: none;
}
#board div.word div {

	/* Internet Explorer 10 */
	display:-ms-flexbox;
	-ms-flex-pack:center;
	-ms-flex-align:center;

	/* Firefox */
	display:-moz-box;
	-moz-box-pack:center;
	-moz-box-align:center;

	/* Safari, Opera, and Chrome */
	display:-webkit-box;
	-webkit-box-pack:center;
	-webkit-box-align:center;

	/* W3C */
	display:box;
	box-pack:center;
	box-align:center;

	height : 100%;

}

#header a {
	font-size: 20px;
	margin-left: 5px;
	margin-right: 8px;
	font-weight: bold;
}
#header {
	display: flex;
	align-items: center;
	height: 50px;
}
#spymaster {
	margin-left: 5px;
}

#seed {
	margin-right: 5px;
}

#gameMode {
	margin-left: 5px;
	margin-right: 5px;
}

#reset {
	margin-left: 5px;
	margin-right: 5px;
}
#google_translate_element {
	margin-left: 5px;
	margin-right: 5px;
}
.ada {
  height: 1px;
  width: 1px;
  position: absolute;
  overflow: hidden;
  top: -10px;

}

#redScore{
	color: #ff8a65;
}
#blueScore{
	color: #26a69a;
}
.score {
	padding-left: 10px;
	text-align: left;
	font-size: 2vw;
	flex-grow: 1;
}
.team-name {
/*	font-family: Helvetica, Arial, sans-serif;*/
	font-size: 2vw;
	margin-left: 30px;
	font-weight: 500;
}
