a:link {
  color: black;
} /* unvisited link */
a:visited {
  color: black;
} /* visited link */
.word:hover {
  color: black;
  font-size: 1.5em;
  background: #fef5e7;
} /* mouse over link */
a:active {
  color: black;
} /* selected link */

html {
  font-family: "Verdana";
}

body {
  margin: 0;
  padding: 8px;
  box-sizing: border-box;
  background-color: #eae5e6;
}

button,
input,
span#first {
  font-size: 1.3em;
}

#board {
  box-sizing: border-box;
  width: 97%;
  position: absolute;
  bottom: 5px;
  left: 2%;
  right: 1%;
  height: calc(100% - 5% - 56px);
  top: 56px;

  font-size: 1.4em;
}

#board div.row {
  box-sizing: border-box;
  height: 20%;
}

#board div.word {
  box-sizing: border-box;
  position: relative;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 2px #dddddd solid;
  border-radius: 5px;
  font-weight: bold;
  width: 20%;
  height: 100%;
  display: inline-block;
  line-height: 99%;
}

#board div.word div {
  /* Internet Explorer 10 */
  display: -ms-flexbox;
  -ms-flex-pack: center;
  -ms-flex-align: center;

  /* Firefox */
  display: -moz-box;
  -moz-box-pack: center;
  -moz-box-align: center;

  /* Safari, Opera, and Chrome */
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;

  /* W3C */
  display: box;
  box-pack: center;
  box-align: center;

  height: 100%;
}

#header a {
  font-size: 20px;
  margin-left: 5px;
  margin-right: 8px;
  font-weight: bold;
}
#header {
  display: flex;
  align-items: center;
}
#spymaster {
  margin-left: 5px;
}

#seed {
  margin-right: 5px;
}

#gameMode {
  margin-left: 5px;
  margin-right: 5px;
}

#reset {
  margin-left: 5px;
  margin-right: 5px;
}
#google_translate_element {
  margin-left: 5px;
  margin-right: 5px;
}
.ada {
  height: 1px;
  width: 1px;
  position: absolute;
  overflow: hidden;
  top: -10px;
}

.redStarts {
  border: #ca405f;
  border-style: solid;
  border-radius: 8px;
}
.blueStarts {
  border: #5478b1;
  border-style: solid;
  border-radius: 8px;
}

#redScore {
  color: #ca405f;
  font-size: 23px;
  flex-grow: 1;
  text-align: center;
}
#blueScore {
  text-align: center;
  color: #5478b1;
  font-size: 23px;
  flex-grow: 1;
}
