a:link {color: black;}      /* unvisited link */
a:visited {color: black;}   /* visited link */
a:hover {color: black;}     /* mouse over link */
a:active {color: black;}    /* selected link */

html {
	font-family : "Verdana";
}

#board {
	font-size : 1.5em;
}

button, input, span#first {
	font-size : 1.3em;	
}

#board {
	position : absolute;
	bottom : 5px;
	left : 2%;
	right : 1%;
	top : 48px;
}

#board div.row {
	height : 20%;
}

#board div.word {
	position : relative;
	text-align : center;
	vertical-align : middle;
	cursor : pointer;
	border : 2px #DDDDDD solid;
	border-radius : 5px;
	font-weight : bold;
	width : 19%;
	height : 99%;
	display : inline-block;
	line-height : 99%;

}

#board div.word div {

	/* Internet Explorer 10 */
	display:-ms-flexbox;
	-ms-flex-pack:center;
	-ms-flex-align:center;

	/* Firefox */
	display:-moz-box;
	-moz-box-pack:center;
	-moz-box-align:center;

	/* Safari, Opera, and Chrome */
	display:-webkit-box;
	-webkit-box-pack:center;
	-webkit-box-align:center;

	/* W3C */
	display:box;
	box-pack:center;
	box-align:center;

	height : 100%;

}


#spymaster {
	float : right;
	margin-left: 10px;
}

#confirm {
	float : right;
}

#confirmText {
	float : right;	
}
#google_translate_element {
	float: right;
}
#header{
	/*background-color: grey;*/
}
.ada {
  height: 1px;
  width: 1px;
  position: absolute;
  overflow: hidden;
  top: -10px;
 
}